<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToHome()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Topping</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToNotificationsPage()">
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="search-filter">
  <ion-searchbar></ion-searchbar>
  <ion-icon name="filter-outline"></ion-icon>
</div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Buffalo Sauce 123</ion-card-title>
    </ion-card-header>
    <ion-grid>
    <ion-col>
    <ion-card-content>
    code : buffalo-sauce
    </ion-card-content>
    <ion-toggle  aria-label="Warning toggle" color="warning" [checked]="true"></ion-toggle>
  </ion-col>
  </ion-grid>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Buffalo Sauce 123</ion-card-title>
    </ion-card-header>
    <ion-grid>
    <ion-col>
    <ion-card-content>
    code : buffalo-sauce
    </ion-card-content>
    <ion-toggle  aria-label="Warning toggle" color="warning" [checked]="true"></ion-toggle>
  </ion-col>
  </ion-grid>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Buffalo Sauce 123</ion-card-title>
    </ion-card-header>
    <ion-grid>
    <ion-col>
    <ion-card-content>
    code : buffalo-sauce
    </ion-card-content>
    <ion-toggle  aria-label="Warning toggle" color="warning" [checked]="true"></ion-toggle>
  </ion-col>
  </ion-grid>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Buffalo Sauce 123</ion-card-title>
    </ion-card-header>
    <ion-grid>
    <ion-col>
    <ion-card-content>
    code : buffalo-sauce
    </ion-card-content>
    <ion-toggle  aria-label="Warning toggle" color="warning" [checked]="true"></ion-toggle>
  </ion-col>
  </ion-grid>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Buffalo Sauce 123</ion-card-title>
    </ion-card-header>
    <ion-grid>
    <ion-col>
    <ion-card-content>
    code : buffalo-sauce
    </ion-card-content>
    <ion-toggle  aria-label="Warning toggle" color="warning" [checked]="true"></ion-toggle>
  </ion-col>
  </ion-grid>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Buffalo Sauce 123</ion-card-title>
    </ion-card-header>
    <ion-grid>
    <ion-col>
    <ion-card-content>
    code : buffalo-sauce
    </ion-card-content>
    <ion-toggle  aria-label="Warning toggle" color="warning" [checked]="true"></ion-toggle>
  </ion-col>
  </ion-grid>
  </ion-card>
</ion-content>
